.logo {
    height: 40px;
    margin: 0 15px;
  }
  
  .card {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
  }
  
  .read-the-docs {
    margin-top: 20px;
    color: #555;
  }

  h1 {
    font-size: 3.2em;
    font-size: 3em;
  }
  p {
    font-size: 3em;
}

button {
  font-size: 3em;
}